includes:
    # - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 5

    paths:
        - src
        - tests

    tmpDir: %currentWorkingDirectory%/runtime

    # Enable strict advanced checks
    # checkImplicitMixed: true
    # checkBenevolentUnionTypes: true
    # checkUninitializedProperties: true
    # checkMissingCallableSignature: true
    # checkTooWideReturnTypesInProtectedAndPublicMethods: true
    # reportAnyTypeWideningInVarTag: true
    # reportPossiblyNonexistentConstantArrayOffset: true
    # reportPossiblyNonexistentGeneralArrayOffset: true
