parameters:
	ignoreErrors:
		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 3
			path: src/Asset/AbstractAssetManager.php

		-
			message: '#^Only booleans are allowed in an if condition, string given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: src/Asset/AbstractAssetManager.php

		-
			message: '#^Only booleans are allowed in an if condition, int given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: src/Config/Config.php

		-
			message: '#^Unsafe call to private method Foxy\\Converter\\SemverUtil\:\:cleanWildcard\(\) through static\:\:\.$#'
			identifier: staticClassAccess.privateMethod
			count: 1
			path: src/Converter/SemverUtil.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/Fallback/AssetFallback.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: src/Fallback/AssetFallback.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/Fallback/ComposerFallback.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 4
			path: src/Fallback/ComposerFallback.php

		-
			message: '#^Only booleans are allowed in \|\|, mixed given on the left side\.$#'
			identifier: booleanOr.leftNotBoolean
			count: 3
			path: src/Fallback/ComposerFallback.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 3
			path: src/Fallback/ComposerFallback.php

		-
			message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: src/Foxy.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: src/Json/JsonFormatter.php

		-
			message: '#^Variable \$matches in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Json/JsonFormatter.php

		-
			message: '#^Only booleans are allowed in &&, Foxy\\Fallback\\FallbackInterface\|null given on the right side\.$#'
			identifier: booleanAnd.rightNotBoolean
			count: 1
			path: src/Solver/Solver.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/Solver/Solver.php

		-
			message: '#^Only booleans are allowed in \|\|, mixed given on the left side\.$#'
			identifier: booleanOr.leftNotBoolean
			count: 1
			path: src/Util/ConsoleUtil.php

		-
			message: '#^Only booleans are allowed in \|\|, mixed given on the right side\.$#'
			identifier: booleanOr.rightNotBoolean
			count: 1
			path: src/Util/ConsoleUtil.php

		-
			message: '#^Only booleans are allowed in an if condition, string given\.$#'
			identifier: if.condNotBoolean
			count: 2
			path: tests/Config/ConfigTest.php

		-
			message: '#^Constructor of class Foxy\\Tests\\Fixtures\\Asset\\StubAssetManager has an unused parameter \$config\.$#'
			identifier: constructor.unusedParameter
			count: 1
			path: tests/Fixtures/Asset/StubAssetManager.php

		-
			message: '#^Constructor of class Foxy\\Tests\\Fixtures\\Asset\\StubAssetManager has an unused parameter \$executor\.$#'
			identifier: constructor.unusedParameter
			count: 1
			path: tests/Fixtures/Asset/StubAssetManager.php

		-
			message: '#^Constructor of class Foxy\\Tests\\Fixtures\\Asset\\StubAssetManager has an unused parameter \$fs\.$#'
			identifier: constructor.unusedParameter
			count: 1
			path: tests/Fixtures/Asset/StubAssetManager.php

		-
			message: '#^Constructor of class Foxy\\Tests\\Fixtures\\Asset\\StubAssetManager has an unused parameter \$io\.$#'
			identifier: constructor.unusedParameter
			count: 1
			path: tests/Fixtures/Asset/StubAssetManager.php

		-
			message: '#^PHPDoc tag @var with type Composer\\Installer\\PackageEvent\|PHPUnit\\Framework\\MockObject\\MockObject is not subtype of native type PHPUnit\\Framework\\MockObject\\MockObject\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/FoxyTest.php

		-
			message: '#^PHPDoc tag @var with type Foxy\\Solver\\SolverInterface\|PHPUnit\\Framework\\MockObject\\MockObject is not subtype of native type PHPUnit\\Framework\\MockObject\\MockObject\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/FoxyTest.php

		-
			message: '#^Class Composer\\Repository\\RepositoryManager constructor invoked with 2 parameters, 3\-5 required\.$#'
			identifier: arguments.count
			count: 1
			path: tests/Solver/SolverTest.php

		-
			message: '#^PHPDoc tag @var with type Composer\\Package\\PackageInterface\|PHPUnit\\Framework\\MockObject\\MockObject is not subtype of native type PHPUnit\\Framework\\MockObject\\MockObject\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/Solver/SolverTest.php

		-
			message: '#^PHPDoc tag @var with type Composer\\Package\\PackageInterface\|PHPUnit\\Framework\\MockObject\\MockObject is not subtype of native type PHPUnit\\Framework\\MockObject\\MockObject\.$#'
			identifier: varTag.nativeType
			count: 4
			path: tests/Util/AssetUtilTest.php

		-
			message: '#^PHPDoc tag @var with type Foxy\\Asset\\AbstractAssetManager\|PHPUnit\\Framework\\MockObject\\MockObject is not subtype of native type PHPUnit\\Framework\\MockObject\\MockObject\.$#'
			identifier: varTag.nativeType
			count: 2
			path: tests/Util/AssetUtilTest.php

		-
			message: '#^PHPDoc tag @var with type Composer\\IO\\IOInterface is not subtype of native type PHPUnit\\Framework\\MockObject\\MockObject\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/Util/ConsoleUtilTest.php
