<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
  backupStaticProperties="false"
  bootstrap="./vendor/autoload.php"
  cacheDirectory="./runtime/.phpunit.cache"
  colors="true"
  failOnRisky="true"
  failOnWarning="true"
  processIsolation="false"
  stopOnFailure="false"
>
  <extensions>
    <bootstrap class="Foxy\Tests\Support\InternalMockerExtension"/>
  </extensions>

  <testsuites>
    <testsuite name="Foxy">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
